APP_NAME=titik-nol-backend
APP_ENV=local
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=titik_nol_db
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

DB_MAX_IDLE_CONNS=10
DB_MAX_OPEN_CONNS=100
DB_CONN_MAX_LIFETIME=1h
